:root{
    --transition: all 0.7s ease 0s;
    --animation: element 150s linear infinite 0s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    
}
canvas{
    width:100%;
    max-width: 960px;

    max-height: 400px;
    z-index: 1;

}

.bg_screen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bg_screen img{
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;

}
.containerCanvas{
    animation: var(--animation);
    background: url(./assets/bggamep.gif);
    background-size: 500px 500px;
    height: 330px;
    width: 960px;
    z-index: 1;
    border-radius: 20px;

}
@keyframes element{
    from{
        background-position: 0px 0px;
    }
    to{
        background-position: 960px 400px;
    }
}
.container{
    width: 960px;

    z-index: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.container>img{
    width: 100%;
    height: 60px;

}

.container .container-bt{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-stop{
    display: none;
    cursor: pointer;
}
.bt-start{
    cursor: pointer;
}


.container-modal{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00000050;
    z-index: 1000;
}


.container-modal .modal-bg{
    position: relative;
    height: 90%;
    

}
.container-modal .modal-content{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    font-size: 24px;
    text-align: center;
}
.content-cupon{
    border: 1px solid black;
    padding: 20px 40px;
    margin-top: 20px;
    cursor: pointer;
}
.content-bt{
    cursor: pointer;
    border: none;
    background-color: #e65533;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 30px;
}
.modal-bg img{

    height: 100%;
}

@media (max-width:960px) {
    .containerCanvas{
        width: 100%;
        height: 100%;

    }
    canvas{
        width: 100%;

    }

    .container{
        width: 100%;

    }

    .container-modal{
        width: 100%;
    }

    .container-modal .modal-content{
    
        right: 0;
        left: 0;
        font-size: 18px;
        gap: 0; 
        text-align: center;
        justify-content: space-around;
    }
    .content-cupon{
      
        padding: 10px 20px;
        margin-top: 10px;

    }
    .content-bt{
        width: 80%;
        padding: 10px 10px;

        font-size: 14px;
        margin-top: 10px;
    }
}

@media (max-width:600px) {

    .content-msn{
        font-size: 14px
    }
    .content-cupon{
        font-size: 14px;
    }
}

@media (max-width:500px) {

    .content-msn{
        font-size: 12px
    }
    .content-cupon{
        font-size: 12px;
    }
    .content-bt{
        font-size: 10px;
    }
}
